org: leonardochocce
service: api-web-scraping

provider:
  name: aws
  runtime: python3.13
  memorySize: 1024
  timeout: 30
  iam:
    role: arn:aws:iam::836152826188:role/LabRole
  
  # --- PARTE NUEVA: Variables de Entorno ---
  environment:
    DDB_TABLE: TablaWebScrapping2
    PREF_REPLACE_TABLE: "true"

functions:
  scrape_table:
    handler: scrap_table.lambda_handler
    package:
      include:
        - ./**
    events:
      - http:
          path: /scrape/table
          method: get
          cors: true
          # SE ELIMINÓ LA LÍNEA "integration: lambda"

resources:
  Resources:
    TablaWebScrapping:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: TablaWebScrapping2
        AttributeDefinitions:
          - AttributeName: id
            AttributeType: S
        KeySchema:
          - AttributeName: id
            KeyType: HASH
        BillingMode: PAY_PER_REQUEST
